<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <%= form_with(model: post) do |form| %>
          <% if post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% post.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <div class="content">
              <%= form.label :content, "What do you want to post?", class: "label", wrapper: false %>
              <%= form.text_area :content, :rows => 12, cols: 60, required: true, class: "input", wrapper: false %>
            </div>
          </div>

          <div class="field">
            <%= form.submit "Create Post", class: "button is-medium is-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>